.Todo {
  background-color: #162b2b;
  color: white;
  border-radius: 6px;
  padding: 3rem;
  min-height: 200px;
  margin-bottom: 1rem;
}

.Todo > * {
  background-color: transparent;
  width: 100%;
  border: none;
  transition: all 0.2s ease-in;
  outline: none;
  margin-bottom: 0.5rem;
  color: white;
}
.Todo label {
  color: #3c7c7c;
  font-size: 1.5rem;
}

.Todo > *:focus {
  border-bottom: 3px solid #008080;
}

.Todo input {
  font-size: 1.5rem;
}

.Todo textarea {
  font-style: normal;
  font-size: 2.5rem;
  resize: vertical;
}

.change-btn {
  text-decoration: none;
  color: white;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid teal;
  cursor: pointer;
}

.change-btn:hover {
  background-color: teal;
}
